/* .root-container {
    background-color: 	#005073;
} */

.greeting-message {
    font-family:'Courier New', Courier, monospace;
    font-size: 40px;
    font-weight: lighter;
    padding: 10px; 
    margin: 20px
}

.container {
    width: 20%;
    height: 20%;
    background-color: #EEF4EA;
    padding: 5px;
}

.perfume-image {
    width: 30%;
    height: 30%;
}

.all-perfumes {
    margin: 3%;

}



