@font-face {
    font-family: 'Garamond';
    src: url('../../context/Garamond_[Fontsmagazine.com].ttf');
  }


.comment-label {
    font-family: Garamond;
 
    text-align: center;
    max-width: fit-content;
    margin-left: 140px;

}

.comments-container{
   
    margin-bottom: 10px;
    margin-left: 130px;
    border: solid #D9D9D9;
    border-radius: 2px;
    max-width: 50%;
    overflow-y: scroll;
}

.one-comment {

    font-family: Garamond;
    margin-left: 20px;
    margin-bottom: 10px;
    margin-top: 10px;
    /* font-size: medium;
    text-align:center; */
    
    /* border-radius: 10px;
    padding: 20px;
    max-width: fit-content; */
}

.buttons-container{
    display: flex;
    flex-direction: row;

}

.delete-comment-button {
   background-color:  #D9D9D9;
   font-family: Garamond;
   padding: 7px 15px;
   font-weight: bold;
   text-align: center;
   color: #404040;
   text-align: center;
   cursor: pointer;
   border-radius: 0.20em;
   border: none;
   margin: 10px auto;
   display: block;
   margin-right: 5px;
}


