@font-face {
    font-family: 'Garamond';
    src: url('../../context/Garamond_[Fontsmagazine.com].ttf');
  }


.add-perfume {
    font-family: Garamond;
    font-weight:lighter;
    text-align: center;
    margin:  30px auto;
    display: block;
}

.add-perfume-form-errors {
    color: red;
}

.add-perfume-form {
    margin: auto;
    display: block;
    background-color: #F4F4F4;
}

.add-perfume-form-label {
    font-family: Garamond;
    font-size: 17px;
    margin-left: 10px;
}

.add-perfume-field {
    background-color: #F4F4F4;
    height: 20px;
    padding: 20px 15px;
    box-sizing: border-box;
    border: 1px solid #D9D9D9;
    border-radius: 2px;
    font-family: Garamond;
    font-size: 15px;
    margin-top: 15px;
    margin-bottom: 15px;
}

#select{
    
    display: block;
    background-color: #F4F4F4;
    height: 40px;
    width: 127px;
    border: 1px solid #D9D9D9;
    border-radius: 2px;
    font-family: Garamond;
    font-size: 15px;
    margin-top: 15px;
    margin-bottom: 15px;
    margin-left: 2px;
    color: grey;
}

.add-perfume-button {
    background-color: #D9D9D9;
    font-family: Garamond;
    padding: 15px 20px;
    font-weight: bold;
    text-align: center;
    color: black;
    text-align: center;
    cursor: pointer;
    border-radius: 0.20em;
    border: none;
    margin: auto;
    display: block;
}

#error-message-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-left: -30px;
    /* margin-left: 110px; */
   
}

/* .error-message{
    padding: 10px;
} */





