.add-perfume {
    font-family:'Courier New', Courier, monospace;
    font-weight:lighter;
    text-align: center;
    margin:  30px auto;
    display: block;
}

.add-perfume-form-errors {
    color: red;
}

.add-perfume-form {
    margin: auto;
    display: block;
}

.add-perfume-form-label {
    font-family: 'Courier New', Courier, monospace;
    font-size: 17px;
    margin-left: 20px;
}

.add-perfume-field {
    background-color: white;
    height: 20px;
    padding: 10px 15px;
    box-sizing: border-box;
    border: 2px solid #EDE1DA;
    border-radius: 2px;
    font-family: 'Courier New', Courier, monospace;
    font-size: 15px;
}

.add-perfume-button {
    background-color: #EDE1DA;
    font-family: 'Courier New', Courier, monospace;
    padding: 15px 20px;
    font-weight: bold;
    text-align: center;
    color: black;
    text-align: center;
    cursor: pointer;
    border-radius: 0.20em;
    border: none;
    margin: auto;
    display: block;
}

.error-message-container {
    display: flex; 
    flex-direction: row; 
    justify-content: center;

}





