/* .signup-form-container {
    margin: auto;
    align-items: center;
} */

.signup-form {
    margin: auto;
    display: block;
    background-color: #F4F4F4;
}

.signup-form-label {
    font-family: Garamond;
    margin-left: 8px;
}

.signup-field {
    background-color: #F4F4F4;
    width: 100%;
    padding: 10px;
    margin: 5px;
    box-sizing: border-box;
    border: 1px solid #D9D9D9;
    border-radius: 2px;
    font-family: Garamond;

}

.signup-button {
    background-color: #D9D9D9;
    font-family: Garamond;
    font-size: 15;
    padding: 15px 20px;
    text-align: center;
    color: black;
    cursor: pointer;
    border-radius: 0.20em;
    border: none;
    margin: auto;
    display: block;
}

