@font-face {
   font-family: 'Garamond';
   src: url('../../context/Garamond_[Fontsmagazine.com].ttf');
 }

body {
   margin: 0px;
}


.nav-bar{
   position: sticky;
   background-color: #F4F4F4;
   display: flex;
   flex-direction: row;
   justify-content: center;
   height:100px;
}

/* .logo-container{
   position: absolute;
   margin-right: 1100px;
   margin-top: -10px;
} */

.logo-img{
   height: 120px;
   width: 130px;
}

.NavLink {
  
   padding: 15px 20px;
   text-decoration: none;
   color: #404040;
   cursor: pointer;
   border-radius: 0.20em;
   /* display: flex;
   justify-content: space-evenly;
   margin-left: 85px; */
}

.NavLink-add-perfume {
   font-family: Garamond;
   font-size: 18px;
   text-decoration: none;
   color: black;
   cursor: pointer;
   position: absolute;
   margin-left: 500px;
   margin-top: 40px;

}

/* .profile-button{
   background-color: #F4F4F4;
   position: absolute;
   margin-left: 600px;
   margin-top: 10px;
} */


/* .login-signup-buttons{
   position: absolute;
   margin-left: 400px;
} */
.sign-up-button {
   background-color: white;
   font-family: Garamond;
   font-weight: bold;
   padding: 15px 20px;
   font-size: 14px;
   text-align: center;
   text-decoration: none;
   color: #404040;
   cursor: pointer;
   border-radius: 0.20em;
   display: inline-block;
}

ul {
  list-style-type: none;
}


@media screen and (min-width: 769px) {

   .logo-container {
    
      margin-left: 50px;
      margin-right: auto; /* Push it to the left side of its containing element */
    }

    .li-elements-profile-button-loggedIn{
      list-style: none;
      align-items: flex-end;
      margin-right: 80px;
  }

}






